<a href="https://colab.research.google.com/github/Agrave1/Food-Sales-Predictions/blob/main/Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
filename = "/content/drive/MyDrive/Portfolio Projects/sales_predictions (1).csv"
sales_df = pd.read_csv(filename)
sales_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
sales_df.shape

(8523, 12)

In [3]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
sales_df.duplicated().sum()

0

In [5]:
sales_df.drop(columns = ["Outlet_Size"], inplace = True) 
#Dropped column because size was ranked small to high which are two different size type categories and thus did not seem relevant for the study

In [6]:
mean_weight = sales_df["Item_Weight"].mean()
sales_df["Item_Weight"].fillna(mean_weight, inplace = True)
#Chose mean because there were no outlier values when checking the min and max values.

In [7]:
sales_df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [8]:
sales_df["Item_Fat_Content"] = sales_df["Item_Fat_Content"].replace("LF", "Low Fat")
sales_df["Item_Fat_Content"] = sales_df["Item_Fat_Content"].replace("low fat", "Low Fat")
sales_df["Item_Fat_Content"] = sales_df["Item_Fat_Content"].replace("reg", "Regular")
sales_df["Item_Fat_Content"].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [9]:
display(sales_df[["Item_Weight", "Item_Visibility", "Item_MRP", "Item_Outlet_Sales"]].describe().round(2))

       Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
count      8523.00          8523.00   8523.00            8523.00
mean         12.86             0.07    140.99            2181.29
std           4.23             0.05     62.28            1706.50
min           4.56             0.00     31.29              33.29
25%           9.31             0.03     93.83             834.25
50%          12.86             0.05    143.01            1794.33
75%          16.00             0.09    185.64            3101.30
max          21.35             0.33    266.89           13086.96